body {
 background-color: #FAF0E6;
  color: #000000;
  font-family: Arial, Helvetica, sans-sefif; 
  margin: 10% 20%
}
 
.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  
}
